.root {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

#navbar{
    -fx-border-style: solid;
    -fx-border-width: 0 2px 0 0;
}



#close{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-text-fill: #FF0000FF;
    -fx-border-style: solid;
    -fx-border-width: 2px 0 0 0;
}

#close:hover{
    -fx-background-color: #FF0000FF;
    -fx-text-fill: #fff;
    -fx-background-radius: 0 0 0 10px;
}

#setScreen{
    -fx-font-size: 25px;
    -fx-cursor: hand;
    -fx-border-style: solid;
    -fx-border-width: 2px 0 0 0;
}

#setScreen:hover #setScreenIcon{
    -fx-background-color: #fff;
}
#setScreen:hover{
    -fx-background-color: #ff9100;
    -fx-text-fill: #fff;
}

#setScreenIcon{
    -fx-shape: "M223.875 372.9375 L120.9375 338.625 L179.4375 338.625 L45.5625 204.75 L45.5625 263.25 L11.25 160.3125 L114.1875 194.625 L55.6875 194.625 L189.5625 328.5 L189.5625 270 L223.875 372.9375 Z";
    -fx-background-color: #ff9100;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}